.bus{
	width: 600px;
	height: 230px;
	border: 1px solid rgb(153, 152, 152);
	border-radius: 40px;
	padding: 1.5em;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	background-color: white;

	&_seats{
		height: 100%;
		width: 90%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap-reverse;
	}

	&_streing{
		padding-top: 0.2em;
		svg{
			height: 40px;
			width: 40px;
			transform: rotate(90deg);
		}
	}
}