.ticket_sign{

	&__content{
		padding-top: 6em;
		width: 60%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}

	&__button{
		font-size: 1.2rem;
		padding: 0.6em 1em;
	}
}

.tickets{
	width: 75%;
}
