.flight{
	display: flex;
	margin: 10px auto;
	padding: 1.9em 0 1.9em 0;
	border-radius: 10px;
	background-color: white;
	// border: 1px solid rgb(177, 177, 177);
	box-shadow: rgba(0, 0, 0 , 0.15) 0px 2px 4px;

	&__from, &__to{
		width: 15%;
	}

	.time, &__price{
		display: block;
		font-weight: bold;
		font-size: 1.5rem;
	}
	
	&__gap, &__price{
		font-size: 1.2rem;
	}

	&__gap{
		width: 10%;
		font-size: 1rem;
	}

	.content{
		display: flex;
		justify-content: space-between;
		width: 70%;
	}	
}
