.filter{
	padding-left: 2em;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	width: 70%;

	.time__title{
		width: 14%;
		cursor: pointer;
		user-select: none;
	}

	.grap__title{
		width: 10.5%;
		cursor: pointer;
		user-select: none;
	}

	.price__title{
		width: 11%;
		cursor: pointer;
		user-select: none;
	}
}