.profile{
	max-width: 1000px;
	min-width: 600px;
	width: 63%;
	padding-top: 10em;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 0.5rem;

	&__title{
		text-align: left;
		margin-bottom: 2.5em;

		h3{
			font-weight: 500;
			font-size: 1.5rem;
    		color: #424543;
		}
	}

	&__content{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&_info{
		height: 50ch;
		background: white;
		box-shadow: rgba(0, 0, 0 , 0.15) 0px 2px 4px;
		border-radius: 6px;
		padding: 2em 3em 2em 3em;
		// box-sizing: border-box;

		&__input{
			margin-top: 2em;
			width: 90%;
			height: 30ch;
			display: inline-block;
		}

		&__button{
			font-size: 1.2rem;
			padding: 0.7em 1.7em;
			margin-top: 3em;
		}

		&__about{
			font-size: 1rem;
			line-height: 1.4em;
			width: 20em;
		}
	}

	&__input{
		font-size: 1.6rem;
		width: 11em;
		height: 1.45em;
		margin-top: 0.5em;
	}
}



