.profile{
	max-width: 1000px;
	min-width: 600px;
	width: 63%;
	padding-top: 10em;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&__title{
		text-align: left;
		margin-bottom: 2.5em;

		h3{
			font-weight: 500;
			font-size: 1.8rem;
    		color: #424543;
		}
	}

	&__content{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&_info{
		background: white;
		box-shadow: rgba(0, 0, 0 , 0.15) 0px 2px 4px;
		border-radius: 6px;
		padding: 2em 3em 2em 3em;

		&__about{
			font-size: 1.1rem;
			line-height: 1.4em;
			width: 20em;
		}
	}

	&__input{
		font-size: 1.6rem;
		width: 12em;
		height: 1.55em;
		margin-top: 1em;
	}
}


@media (min-width: 1200px) {
	.profile{
		// padding-top: 5em;
		font-size: 0.5rem;
		
		&__title{
			h3{
				font-size: 1.5rem;
			}
		}

		&_info__about{
			font-size: 1rem;
		}

		&__input{
			font-size: 1.6rem;
			width: 11em;
			height: 1.45em;
			margin-top: 1em;
		}

	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	
}
