.searchPanel{
	padding: 1em 1em 2em;
	background: rgb(219, 216, 216);
	border-radius: 6px;

	input, button{
		font-size: 0.9rem;
		margin-left: 1em;
		height: 3em;
		width: 15em;
	}
}

.searchForm{
	min-width: 980px;
  max-width: 1260px;
  padding-left: 32px;
  padding-right: 32px;
	margin: 8em auto;
  width: 100%;
}