.history{
	max-width: 1000px;
	min-width: 600px;
	width: 63%;
	padding-top: 10em;
	flex-wrap: wrap;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	
	&_block{
		width: 75%;

		&__element{
			pointer-events: none;
			opacity: 0.5;
			background: #CCC;
	
			button{
				display: none;
			}
		}
	}
}