.bus_seat{
	box-sizing: border-box;
	width: 4.5ch;
	height: 4.5ch;
	border: 1px solid rgb(36, 167, 69);
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.3em;
	cursor: pointer;
	background-color: white;

	&:nth-child(even){
		margin-bottom: 2.6em;
	}

	&:nth-child(4n){
		margin-bottom: 0;
	}

	&__busy{
		pointer-events: none;
		opacity: 0.5;
		background: #CCC;
		border: 1px solid #CCC;
	}

	&__select{
		background-color: rgb(36, 167, 69);
		color: white;
	}
}

