.ticket{
	width: 100%;
	padding: 2em 3.5em;
	background-color: white;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0 , 0.15) 0px 2px 4px;

	&__title{
		font-size: 1rem;
		margin-bottom: 1em;
	}

	&__field{
		display: flex;
		margin-top: 0.8em;
	}

	&_input{
		width: 29%;
		margin-right: 1.5em;
	}

	&_radiobutton{
		margin-right: 1.5em;
	}
}