.ticket{
	width: 100%;
	padding: 2em 3.5em;
	background-color: white;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0 , 0.15) 0px 2px 4px;
	margin-bottom: 3em;

	&__title{
		font-size: 1rem;
		margin-bottom: 1em;
	}

	&__field{
		display: flex;
		margin-top: 0.8em;
	}

	&_input{
		width: 33%;
		margin-right: 1.5em;

		&__error{
			color: #ff4169;
			width: 98%;
		}
	}

	&_radiobutton{
		margin-right: 1.5em;
		height: 2.7em;
	}
}