.ticket{
	width: 45%;
	padding: 2em;
	background-color: white;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0 , 0.15) 0px 2px 4px;

	&__title{
		font-size: 1rem;
		margin-bottom: 1.3em;
	}

	&__field{
		display: flex;
	}

	&_input{
		width: 25%;
		margin-right: 1.5em;
	}
}