.radio{
	border: 1px solid rgb(177, 177, 177);
	background-color: white;
	border-radius: 6px;
	overflow: hidden;
	display: flex;
	align-items: center;
	
	&__label{
		width: 2em;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content:center;
		cursor: pointer;

		&_active{
			background-color: rgb(27, 107, 211);
			color: white;
		}
	}

	&__input{
		display: none;
	}

	&_element{
		height: 100%;
		
		&:last-child{
			border-left: 1px solid rgb(177, 177, 177);
		}
	}
}
