.searchPanel{
	padding: 1em 1em 2em;
	background: rgb(219, 216, 216);
	border-radius: 6px;
	width: 80%;
}

.searchForm{
	min-width: 980px;
  max-width: 1260px;
  padding-left: 32px;
  padding-right: 32px;
	margin: 8em auto;
	display: flex;
	justify-content: center;
  width: 100%;
}