.calendar{
	position: absolute;
	width: 25em;
	margin-top: 2px;
	border-radius: 6px;
	background-color: #fff;
	padding: 2em;
}

.weekdays{
	display: flex;
	justify-content: space-between;
}

// .weekday{

// }
